<h2>Add New Room</h2>
{{!-- Needs form action for API route --}}

<form>
  <div class="form-group">
    <label for="roomName">Room Name</label>
    <input name="roomName" type="text" id="roomName" required>
  </div>
  <div class="form-group">
    <label for="roomNumber">Room Number</label>
    <input name="room_number" type="text" id="roomNumber">
  </div>
  <div class="form-group">
    <label for="ascDungeon">Associated Dungeon</label>
    {{!-- Need to figure out best way to tie this to a dungeon --}}
    <input name="dungeon_id" type="text" id="roomNumber">
    <small id="dungeonHelp" </div>
</form>
