<h2>Add New Dungeon</h2>

<form>
  <div class="form-group">
    <label for="roomName">Dungeon Name</label>
    <input name="roomName" type="text" id="roomName" required>
  </div>
</form>
{{!-- Probably want to make them already have a campaign focused, and populate that in automatically. --}}