<h2>Add Room</h2>

<div class="container">
  <form action="/api/rooms" method="POST">
    <div class="mb-3">

      <label for="room-name" class="form-label">Room Name</label>
      <input name="name" type="text" class="form-control" id="creature-name" aria-describedby="creature-name">
      <br>
      <select name="dungeon_id" class="form-control" id="creature-room" aria-describedby="dungeon-id">
        {{#each dungeons as |dungeon|}}
        <option>{{dungeon.id}}</option>
        {{/each}}
      </select>
      <label for="blurb" class="form-label">Blurb</label>
      <textarea name="blurb" type="number" class="form-control" id="creature-loot" aria-describedby="loot"></textarea>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
