<h2>Add a new dungeon</h2>
<h6 class="sub-header"><a href="/campaigns/{{activeCampaign.id}}">{{activeCampaign.name}}</a></h6>

<div class="container">
  <form action="/api/dungeons" method="POST">
    <div class="mb-3">
      <label for="dungeon-name" class="form-label">What is your dungeon name?</label>
      <input name="name" type="text" class="form-control" id="dungeon-name" aria-describedby="dungeon-name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
