<h2>My Campaigns</h2>
{{#if campaigns}}

<div class="card creature-card" style="width: 28rem;">
    <ul class="list-group list-group-flush">
        {{#each campaigns as |campaign|}}
        <li class="list-group-item"><a href="/campaigns/{{campaign.id}}">{{campaign.name}}</a></li>
        {{/each}}

    </ul>
</div>
{{else}}
Create a campaign to get started!
{{/if}}
<br>
<a class="btn btn-outline-dark" href="/campaigns/new" role="button">Create Campaign</a>
