<h2>My Campaigns</h2>
{{#if name}}
<a class="btn btn-outline-danger" href="#" role="button">{{name}}</a>
{{/if}}

{{#each campaigns as |campaign|}}
<div>
    <a class="btn btn-outline-dark" href="#" role="button">{{campaign.name}}</a>
    <p>Campaign ID #{{campaign.id}}</p>

    {{!-- <h3>{{campaign.name}}</h3> --}}
</div>
{{/each}}