<h1>Welcome to Dungeon Crawler!</h1>
<br>

<h2>Stay a while and listen!</h2>
{{!-- <h1>Oldbook.css</h1>
<h2>Introduction</h2> --}}
Welcome to <b>Dungeon crawler</b>. This is an appication that allows you play <b>Dungeons <img
        src="https://img.icons8.com/color/48/000000/dungeons-and-dragons.png" /> Dragons</b> with a simple
click verses flipping back and forth through your library of books.
It's a single click to access your:
{{!-- Here's <b>bold</b> text, here's <i>italic</i> text. --}}
<ol>
    <li>Campaigns</li>
    <li>Dungeons</li>
    <li>Rooms</li>

</ol>
<p class='has-dropcap'>This easy to use application starts with you building a <b>Campaign</b>, once your
    <b>Campaign</b> is
    built you are then able to create a <b>Dungeon</b> within that <b>Campaign</b>. Creating a <b>Room</b> is another
    simple click away and within that room you are allowed to create <b>Creatures</b>, <b>Blurbs</b>, <b>Treasures</b>,
    <b>Secrets</b>, <b>Traps</b>, and many more options! After creating everything for your <b>Campaign</b> you can then
    access that information by pressing the corresponding button within your user page.
</p>
{{!-- <p class='has-dropcap'>Use the class "has-dropcap" to add dropcaps to the start of paragraphs. Testing testing
    testing,
    how does this even work as a drop cap thing anyways. Testing testing testing, how does this even work as a drop
    cap
    thing anyways. Testing testing testing, how does this even work as a drop cap thing anyways. Testing testing
    testing,
    how does this even work as a drop cap thing anyways.</p>
<blockquote>Blockquote</blockquote>
<table>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    <tr>
        <td>A</td>
        <td>B</td>
    </tr>
    <tr>
        <td>C</td>
        <td>D</td>
    </tr>
</table>
<br> --}}