<h2>Update dungeon name</h2>
<div class="container">
    <form action="/api/dungeon/" method="POST">
        <div class="form-group">
            <label for="exampleFormControlSelect2">What dungeon would you like to update?</label>
            <select multiple name='originalname' class="form-control" id="exampleFormControlSelect2">
                {{#each dungeons as |dungeon|}}
                <option>{{dungeon.name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="mb-3">
            <label for="campaign-name" class="form-label">What is your new dungeon name?</label>
            <input type="text" name="updatedname" class="form-control" id="campaign-name"
                aria-describedby="campaign-name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>